.containerblablabla{
    background-color: rgb(175, 211, 226);
}

main{
    background-color: rgb(175, 211, 226);
}

footer{
    background-color: rgb(20, 108, 148);
}





/*rgb(246, 241, 241)
rgb(175, 211, 226)
rgb(25, 167, 206)
rgb(20, 108, 148)*/
